<!doctype html>
<html lang="en">

<head>
    <title>
        <%= title%>
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon" />

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet'
        type='index/css'>
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="icon" style="background: transparent;" type="image/x-icon" href="/images/favicon.jpeg">
    <link href="/css/diagnosis.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg nav-back fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"> <img id="topimg"
                    src="/images/WhatsApp Image 2023-03-03 at 12.27.28 PM.jpeg" alt=""></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/diagnosis">Diagnosis</a></li>






                </ul>
            </div>
        </div>
    </nav>

    <a name="home"></a>
    <section id="hero" class="d-flex align-items-center">

        <div class="container text-center position-relative">
            <h1 style="color: white;">Welcome To <span style="color: rgba(255, 48, 75, 0.8);"> Diagnosis </span> </h1>
            <a href="#info" class="main-btn">Get Started</a>
        </div>
    </section>
    <a name="info"></a>
    <br>
    <br>
    <br>


    <a name="service"></a>
    <br>
    <br>
    <br>

    <html>

    <title>BMI Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script>
        var weight, height, measure, bmi, error;

        function calculate() {
            weight = document.getElementById("weight").value;
            height = document.getElementById("height").value;
            error = "Please enter some values";
            height /= 100;
            height *= height;
            bmi = weight / height;
            bmi = bmi.toFixed(1);

            measure = "Your BMI is " + bmi;


            if (weight === 0) {
                document.getElementById("results").innerHTML = error;
            } else if (height === 0) {
                document.getElementById("results").innerHTML = error;
            }
            else {

                document.getElementById("results").innerHTML = measure;
            }
            if (weight < 0) {
                document.getElementById("results").innerHTML = "Negative Values not Allowed";
            }
        }

    </script>
    <style>
        @media (min-width: 768px) {
            .panel {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media (min-width: 1024px) {
            .panel {
                width: 30%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    </style>

    <body style=" background-color: #eee;
text-align: center;">
        <div class="container">
            <div class="panel" style=" margin-top: 20px;
      float: none;">
                <h2 style="margin-bottom: 10px;" class="text-center">BMI Calculator</h2>


                <form style="  background-color: #fff;
              padding: 20px;
              color: #000;
              border-radius: 25px;
              ">
                    <div id="weightInput">
                        <p style="  margin-bottom: 5px; color: rgb(0, 0, 0);
                      font-weight: bold;">Weight (KG)</p>
                        <input style="width: 100%;
                       padding: 5px 14px;
                      
                       margin-bottom: 10px;
                     
                       outline: none;
                    
                       font-size: 14px;     border: 1px solid #ced4da;" id="weight" type="number" pattern="[0-9]*"
                            name="a" />
                    </div>
                    <br>
                    <div id="heightInput">
                        <p style="  margin-bottom: 5px; color: rgb(0, 0, 0);
                      font-weight: bold;">Height (CM)</p>
                        <input style="width: 100%;
                       padding: 5px 14px;
                    
                       margin-bottom: 10px;
                       
                       outline: none;
                    
                       font-size: 14px; border: 1px solid #ced4da;" id="height" type="number" pattern="[0-9]*"
                            name="b" />
                    </div>
                    <br>
                    <button style="background-color: rgba(255, 48, 75, 0.8) ; border: 0; border-radius: 25px; font-size: 15px; padding: 10px 100px;
               outline: none;margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block; font-weight: 400;" type="button" onclick="calculate()">Calculate BMI</button>
                </form>
                <br>
                <div id="results" class="text-center" style="font-weight: 600;"></div>
            </div>
        </div>
        <script src="main.js"></script>
    </body>

    <br>
    <br>

    </html>

    <div class="text-center">
        <p class="h1"> Diagnosis</p>
    </div>
    <br>
    <div class="container">
        <div class="col-md-10 col-centered">
            <div class="col-md-12">
                <form action="/analysis" method="POST">
                    <br>
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="gender">Gender</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="gender" name="gender"
                                    placeholder="1 for Male, 0 for Female">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="age">Age</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="age" name="age" placeholder="Age">

                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="email" name="email"
                                    placeholder="Enter your Email">

                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="avg_glucose_level">Average Glucose Level</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="avg_glucose_level"
                                    name="avg_glucose_level" placeholder="Average Glucose Level">
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="bmi">BMI</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="bmi" name="bmi" placeholder="BMI">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="systolic pressure">Systolic Pressure</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="systolic pressure" name="systolic"
                                    placeholder="SYS (mmHg)">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="diastolic pressure">Diastolic Pressure</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="diastolic pressure"
                                    name="diastolic" placeholder="DIA (mmHg)">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="pulse rate">Pulse Rate</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="pulse rate" name="pulse"
                                    placeholder="Pulse/Min">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="oxygen level">Oxygen Level</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="oxygen level" name="spo2"
                                    placeholder="SpO2%">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="body temp">Body Temperature</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input required type="text" class="form-control" id="body temp" name="temp"
                                    placeholder="Temp in 'F">
                            </div>
                        </div>
                        <br>


                        <center>
                            <button type="submit" class="btn btn-light btn-lg btn-block" id="sbbtn"
                                value="submit">Submit</button>
                        </center>
                        <br>
                </form>
            </div>
        </div>
    </div>
    </div>
    <br><br>

    <footer id="footer" style="margin-top: 50px;">
        <div class="container">
            <div class="copyright">
                &copy;<strong><span> HEAL</span> <br></strong> Design Practicum
            </div>
            <div class="credits">

                Made by G-31
            </div>
        </div>
    </footer>
</body>

</html>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>



</html>