<!doctype html>
<html lang="en">

<head>
  <title>
    <%= title%>
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon" />

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='index/css'>
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="icon" style="background: transparent;" type="image/x-icon" href="/images/favicon.jpeg">

  <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>

<body>

  <nav class="navbar navbar-expand-lg nav-back fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#"> <img id="topimg" src="/images/WhatsApp Image 2023-03-03 at 12.27.28 PM.jpeg"
          alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation"><i class="fas fa-bars fa-2x"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/diagnosis">Diagnosis</a></li>
          <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>


        </ul>
      </div>
    </div>
  </nav>
  <a name="home"></a>
  <section id="hero" class="d-flex align-items-center">

    <div class="container text-center position-relative">
      <h1>Welcome to <span style="color: rgba(255, 48, 75, 0.8); "> HEAL</span> </h1>
      <h2>Health Evaluation & Analysis Lab</h2>
      <br><br><br>
      <a href="#service" class="main-btn">Get Started</a>
    </div>
  </section>

  <a name="service"></a>
  <section id="services" class="services mt-5 mb-3 py-3">

    <div class="container" style="margin-top: 50px;">
      <div class="section-title">
        <h1 class="text-center">What we do?</h1>
        <hr>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-brain"></i></div>
            <h4 class="title"><a href="/home_brain_tumor">Blood Pressure</a></h4>
            <p class="description">Blood pressure is a vital sign that is used to assess a person's overall health and
              risk of various medical conditions. Regular
              monitoring and management of blood pressure is important for maintaining good health and preventing the
              onset of cardiovascular diseases.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-disease"></i></div>
            <h4 class="title"><a href="home_pneumonia">Oximeter</a></h4>
            <p class="description">An oximeter is a medical device used to measure the oxygen saturation level in a
              person's blood, as well as their heart rate. Regular monitoring of oxygen levels using an oximeter
              can help individuals and healthcare providers identify potential health problems early and take
              appropriate action.
            </p>
          </div>
        </div>



        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-bacteria"></i></div>
            <h4 class="title"><a href="/home_kidney">Temperature</a></h4>
            <p class="description">A thermometer is a medical device used to measure body temperature. By using a
              thermometer to monitor
              body temperature, healthcare providers can diagnose and treat infections early, preventing complications
              and improving outcomes.</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-brain"></i></div>
            <h4 class="title"><a href="/home_stroke">Weighing</a></h4>
            <p class="description">A weighing machine is a medical device used to measure a person's weight.  Weighing machines are also used
              to monitor weight loss progress, track fitness goals, and adjust medication dosages.</p>
          </div>
        </div>


      </div>


    </div>
    </div>
  </section>

  <br>
  <a name="about"></a>
  <br>
  </div>
  </div>
  </section>
  <section class="about">
    <div class="container">

      <div class="section-title text-center mt-5">
        <h1>About Us</h1>
        <div style=" word-spacing: 3px; line-height: 30px;">
          At H.E.A.L., we are committed to making essential medicines and medical facilities accessible to everyone,
          including those in rural and emergency situations. Our team is passionate about using technology to bridge the
          gap between patients and medical resources.
          We believe that everyone deserves access to quality healthcare, regardless of their location or circumstances.
          Our goal is to create H.E.A.L. Stations that can be easily set up and operated in any environment, providing
          people with the necessary medicines and medical equipment to address their healthcare needs.
          We understand the challenges that people in rural and emergency situations face when it comes to accessing
          healthcare. That's why we are dedicated to designing vending machines that are user-friendly and intuitive,
          making it easy for anyone to use them.
          At H.E.A.L., we are committed to making a difference in people's lives by providing them with the healthcare
          resources they need to stay healthy and safe. We believe that by working together, we can make a positive
          impact on communities and help improve the quality of life for everyone.

        </div>
      </div>
      <br><br>

  </section>
  <br>

  <a name="contact"></a>
  <section class="contact">
    <div class="container">

      <div class="section-title text-center mt-5">
        <h1>Contact us</h1>
      </div>
      <br><br>
      <div class="row">

        <div class="col-lg-12">

          <div class="row">
            <div class="col-md-4 cnb">
              <div class="contact-box mt-4">
                <i class="fas fa-map-signs"></i>
                <h3>Address</h3>
                <p>IIT Mandi <br> Himachal Pradesh </p>
              </div>
            </div>
            <div class="col-md-4 cnb">
              <div class="contact-box mt-4">
                <i class="fas fa-envelope"></i>
                <h3>Email Us</h3>
                <p>heal@gmail.com<br>healhelp@gmail.com</p>
              </div>
            </div>
            <div class="col-md-4 cnb">
              <div class="contact-box mt-4">
                <i class="fas fa-phone"></i>
                <h3>Call Us</h3>
                <p>+91-9876543210<br>+91-8976543210</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <footer id="footer" style="margin-top: 50px;">
    <div class="container">
      <div class="copyright">
        &copy;<strong><span> HEAL</span> <br></strong> Design Practicum
      </div>
      <div class="credits">

        Made by G-31
      </div>
    </div>
  </footer>

</body>

</html>