<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>HEAL</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>
	<script src="/js/script.js"></script>
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<div class="wrapper">	
		<div class="progress">
			
			<div class= "toggle-btn" id="unact">
				<div class= "inner-circle">
	
				</div>
			</div>
			<div class= "toggle-btn active" id="act" >
				<div class= "inner-circle">
	
				</div>
			</div>
            <a class = "icon1" >
				<!-- <i class="fa-sharp fa-solid fa-stethoscope"></i> -->
                <p>BP High</p>
			</a>
		</div>

		<div class="progress">
			
			<div class= "toggle-btn1" id="unact1">
				<div class= "inner-circle">
	
				</div>
			</div>
			<div class= "toggle-btn1 active" id="act1" >
				<div class= "inner-circle">
	
				</div>
			</div>
            <a class = "icon1" >
                <!-- <i class="fa-solid fa-plus"></i> -->
                <p>BP Low</p>
			</a>
            
		</div>
		
		<div class="progress">
			
			<div class= "toggle-btn2" id="unact2">
				<div class= "inner-circle">
	
				</div>
			</div>
			<div class= "toggle-btn2 active" id="act2" >
				<div class= "inner-circle">
	
				</div>
			</div>
            <a class = "icon1" >
				<!-- <i class="fa-solid fa-tablets"></i> -->
                <p>Pulse High</p>
			</a>
		</div>
		<div class="progress">
			
			<div class= "toggle-btn3" id="unact3">
				<div class= "inner-circle">
	
				</div>
			</div>
			<div class= "toggle-btn3 active" id="act3" >
				<div class= "inner-circle">
	
				</div>
			</div>
            <a class = "icon1" >
				<!-- <i class="fa-solid fa-weight-scale"></i> -->
                <p>Fever</p>
			</a>
		</div>	
	</div>
</body>
</html>